<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

    <targets>
        <target xsi:type="ColoredConsole"
                name="console"
                layout="${longdate} ${level:upperCase=true} ${message}${onexception:${newline}${exception:format=tostring}}"
                detectConsoleAvailable="true" />
        <target name="loggerFile" xsi:type="File"
                layout="${longdate} ${logger} ${level:upperCase=true} ${message}${onexception:${newline}${exception:format=tostring}}"
                fileName="${basedir}/logs/info.log"
                archiveFileName="${basedir}/logs/archive/logs_{#}.zip"
                archiveEvery="Day"
                archiveNumbering="Date"
                enableArchiveFileCompression="true"
                createDirs="true" />
        <target name="errorsFile" xsi:type="File"
                layout="${longdate} ${logger} ${level:upperCase=true} ${message}${onexception:${newline}${exception:format=tostring}}"
                fileName="${basedir}/logs/errors.log"
                archiveFileName="${basedir}/logs/archive/errors_{#}.zip"
                archiveEvery="Day"
                archiveNumbering="Date"
                enableArchiveFileCompression="true"
                createDirs="true" />
        <target name="warningsFile" xsi:type="File"
                layout="${longdate} ${logger} ${level:upperCase=true} ${message}${onexception:${newline}${exception:format=tostring}}"
                fileName="${basedir}/logs/warnings.log"
                archiveFileName="${basedir}/logs/archive/warnings_{#}.zip"
                archiveEvery="Day"
                archiveNumbering="Date"
                enableArchiveFileCompression="true"
                createDirs="true" />
        <target name="traceFile" xsi:type="File"
                layout="${longdate} ${logger} ${level:upperCase=true} ${message}${onexception:${newline}${exception:format=tostring}}"
                fileName="${basedir}/logs/trace.log"
                archiveFileName="${basedir}/logs/archive/trace_{#}.zip"
                archiveEvery="Day"
                archiveNumbering="Date"
                enableArchiveFileCompression="true"
                createDirs="true" />
    </targets>

    <rules>
        <logger name="*" level="Trace" writeTo="traceFile" final="true" />
        <logger name="*" levels="Error,Fatal" writeTo="errorsFile" />
        <logger name="*" level="Warn" writeTo="warningsFile" />

        <logger name="*" writeTo="loggerFile, console" />
    </rules>
</nlog>